<h1>Create a new landmark</h1>

<form action="/landmarks" method="POST">

	<label>Name:</label>
	<input type="text" id="landmark_name" name="landmark[name]"/>

	<br><br>

	<label>Year Completed:</label>
	<input type="text" id="landmark_year_completed" name="landmark[year_completed]"/>

	<br><br>
	<input type="submit" id="submit" value="Create New Landmark"/>
</form>
